.mobile-navbar {
  &__button-wrapper {
    position: fixed;
    bottom: 1vw;
    right: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;

    background-color: black;
    z-index: 2;
  }

  &__closed {
    display: none;
  }

  &__open {
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 89vw;
    height: 352px;

    text-align: left;
    background-color: #364655;
    color: white;
    z-index: 2;

    a {
      margin-left: 64px;
    }

    a:link {
      color: white;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: white;
    }

    a:active {
      color: white;
    }
  }

  &__hamburger &__line {
    width: 30px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &__hamburger:hover {
    cursor: pointer;
  }
}

#hamburger.mobile-navbar__is-active .mobile-navbar__line:nth-child(2) {
  opacity: 0;
}

#hamburger.mobile-navbar__is-active .mobile-navbar__line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.mobile-navbar__is-active .mobile-navbar__line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
