.button {
  padding: 8px;

  border-radius: 27px;
  color: #f7f7f7;
  font-size: 17px;
  background-color: #2a83e9;
  border: 0px;

  &:hover {
    background-color: #f7f7f7;
    color: #2a83e9;
  }

  &__sec {
    background-color: #d1d0c9;
    color: black;
  }

  &__sec:hover {
    background-color: #364655;
    color: white;
  }

  &__small {
    width: 150px;
  }

  &__medium {
  }

  &__large {
    width: 260px;
  }
}
