.hero {
  background: url('../../images/Epcot.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 990px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text-top {
    color: #364655;
    font-size: 16px;
  }
  &__text-bottom {
    color: #364655;
    font-size: 16px;
    width: 224px;
    text-align: center;
    margin-top: 6px;
  }
  &__heading {
    color: #ffffff;
    font-size: 48px;
  }
}
