.our-process {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: fit-content;
  padding: 75px;

  &__header {
    margin: 0px;
    margin-bottom: 64px;
    font-size: 40px;
  }

  &__info-cards-wrapper {
    display: flex;
  }

  h2 {
    margin: 0px;
  }

  > p {
    width: 40vw;
  }

  &__all-content-item-wrapper {
    width: 50vw;
    display: flex;
    justify-content: space-between;
  }

  &__all-content-item {
    width: 25vw;
    height: fit-content;
  }

  &__content-item-wrapper {
    position: relative;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  &__content-item-wrapper-left {
    flex-wrap: wrap-reverse;
  }

  &__content-item-process-circle {
    width: 100%;
    z-index: 0;
  }

  &__process-image-text-wrapper {
    position: relative;
    width: 40%;
  }

  &__process-text-right {
    text-align: left;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 8%;
  }
  &__process-text-left {
    text-align: right;
    margin-top: 0px;
    margin-right: 30%;
    margin-left: 8%;
  }

  &__content-item-process-text-wrapper {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 38%;
    margin-top: -16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-item-process-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-top: 16px;

    border: solid 1px #707070;
    border-radius: 124px;
    background-color: #364655;
    color: white;
  }

  &__content-item-right {
  }

  &__content-item-left {
    margin-top: 10vw;
  }
}
