.our-process {
  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Take out when image is removed
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Take out when image is removed

  height: fit-content;
  padding: 75px;
  &__header {
    margin: 0px;
    margin-bottom: 64px;
    font-size: 40px;
  }

  // &__info-cards-wrapper {
  //   display: flex;
  // }
  // h2 {
  //   margin: 0px;
  // }

  // &__content-item-wrapper {
  //   width: 300px;
  //   position: relative;
  // }

  // &__content-item-process-circle {
  //   width: 135px;
  // }
  // s &__content-items-wrapper {
  //   display: grid;
  //   grid-template-columns: 20% 20% 20%;
  //   grid-template-rows: 20% 20% 20% 20% 20%;
  //   column-gap: 5%;
  // }

  // &__content-item-process-text-wrapper {
  //   width: fit-content;
  //   position: absolute;
  //   top: 59px;
  //   left: 23px;
  // }

  img {
    height: 50vw;
  }
}
