.who-we-are {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 75px;
  padding-right: 0px;

  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__info-cards-wrapper {
    display: grid;
    width: 60vw;

    grid-template-columns: auto auto auto;
    column-gap: 60px;
    row-gap: 83px;
  }

  &__main-wrapper {
    display: flex;

    justify-content: space-between;
  }

  &__main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 40px;
    }
  }

  &__values-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;

    text-align: center;

    h1 {
      font-size: 40px;
    }
  }

  &__all-image-icon-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    padding: 50px;
  }

  &__image-icon-wrapper {
    display: flex;
    flex-direction: column;
    width: 15%;

    text-align: center;
    font-family: Domus;
    font-size: 18px;
  }

  &__image-icon {
    width: 100%;
  }

  &__mobile-image-icon {
    width: 30%;
  }

  &__laptop-mobile-image-icon-wrapper {
    display: flex;
  }

  &__laptop-image-icon {
    width: 90%;
    height: 100%;
  }

  &__text {
    width: 60vw;

    text-align: center;
    line-height: 2;
    font-family: Domus;
    font-size: 18px;
  }
}
