.who-we-are {
  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: fit-content;
  padding: 75px;
  &__info-cards-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 80px;
    column-gap: 129px;
    row-gap: 44px;
  }

  &__button-wrapper {
    margin-bottom: 64px;
  }

  &__toggled {
    width: 50%;
    font-size: 62px;
    border-radius: 43px;
    border: none;
    background: white;
  }

  &__not-toggled {
    background: inherit;
  }

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    width: 30vw;
  }

  &__values-wrapper {
    text-align: center;
    margin-top: 46px;
  }
}
