.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 75px 0px 75px;

  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  height: 600px;

  &__info-cards-wrapper {
    display: flex;
  }

  &__main-form-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    p {
      width: 434px;
    }
  }

  &__main-form-contact-us {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 372px;
    background-color: #364655;
  }

  &__form-wrapper {
    height: 250px;
    width: 1011px;
    background-color: #364655;
    margin-left: 8px;
  }

  &__form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 80px 0 40px;
    height: 100%;
  }

  &__form-item-wrapper {
    display: flex;
    input {
      width: 50%;
    }
  }

  &__button {
    width: 260px;
    background: #f7f7f7;
    border-radius: 27px;
    color: #2a83e8;
    font-size: 17px;
    padding: 8px;
  }
}
