.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 75px 0px 75px;

  background: url('../../images/grayBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  height: 600px;

  &__info-cards-wrapper {
    display: flex;
  }

  &__main-form-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    height: fit-content;

    p {
      width: 434px;
    }
  }

  &__main-form-contact-us {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #364655;
    text-align: left;
    padding: 0 50px;

    a {
      color: white;
      text-decoration-line: none;
    }
  }

  &__form-wrapper {
    height: fit-content;
    width: 60vw;
    background-color: #364655;
    margin-left: 8px;
    padding: 24px;

    h2 {
      text-align: left;
    }
  }

  &__form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;

    input {
      border: none;
      border-bottom: 1px solid white;
      background: inherit;
      color: white;
      width: 100%;
      // &::placeholder {
      //   font-size: 16px;
      //   color: white;
      //   margin-bottom: 8px;
      // }
    }
  }

  &__form-item-wrapper {
    display: flex;
  }

  &__button {
    width: 260px;
    background: #f7f7f7;
    border-radius: 27px;
    color: #2a83e8;
    font-size: 17px;
    padding: 8px;
    margin-top: 16px;
  }

  &__form-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    margin-top: 24px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 250px;
    margin-right: 16px;
  }
}
