.what-we-do {
  background: url('../../images/blueBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  padding: 75px;
  &__info-cards-wrapper {
    display: flex;
  }

  h1 {
    margin: 0px;
    color: white;
    font-size: 40px;
    margin-bottom: 48px;
  }
  h2 {
    margin: 0px;
    color: white;
  }

  &__content-wrapper {
    display: flex;
    color: white;
    text-align: left;
    margin-bottom: 50px;
    width: 28vw;

    p {
      margin-left: 15px;
      font-size: 18px;
    }
    h2 {
      margin-left: 15px;
      font-size: 26px;
    }
  }

  &__all-content-wrapper {
    display: flex;
    width: 60vw;
    img {
      width: 20%;
    }
  }

  &__text {
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 44px;
    margin-left: 32px;
  }
}
