.tools-of-the-trade {
  background: url('../../images/blueBackground.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color: white;

  height: fit-content;
  padding: 32px;

  &__info-cards-wrapper {
    display: flex;
  }

  &__text-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-image-wrapper {
    display: flex;
  }

  &__text-image-main-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: 24px;
    }
  }

  &__languages {
    text-align: left !important;
    margin-left: 50px;
    p {
      text-align: left !important;
    }
  }

  &__tools-frameworks {
    text-align: left !important;
    margin-right: 50px;
    p {
      text-align: left !important;
    }
  }

  &__platforms {
    text-align: left !important;
    margin-left: 50px;
    p {
      text-align: left !important;
    }
  }

  h2 {
    margin: 0px;
    // font-family: DomusTitling;
    font-size: 56px;
  }

  p {
    // width: 50vw;
    text-align: center;
  }

  &__icon-wrapper {
    text-align: center;
  }

  &__all-icon-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 134px;
    column-gap: 17px;
    height: 100%;
  }

  &__platform-icons {
    width: 30%;
    margin: 13px;
    flex-grow: 1;
  }

  &__toolsandframeworks-icons {
    width: 13%;
    margin: 16px;
    flex-grow: 1;
  }

  &__languages-icons {
    width: 24%;
    margin: 13px;
    flex-grow: 1;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
